<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lpm.v.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script rel="stylesheet" src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.js"></script>

    <link href="../liens/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../liens/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets3/css/icons.min.css" rel="stylesheet" >

    <link href="../js/print.min.css" rel="stylesheet">
    <link href="../js/simplebar.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

</head>
<body>

<!-- ********************************************** header ******************************************* -->
<header id="header" class="header active fixed-top d-flex align-items-center">
    <div class="logo_content btnMenu">
        <i class="ri ri-menu-fill" id="btn"></i>
    </div>
    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->
            <li class="nav-item dropdown">
                <div class="darklight-searchbox">
                    <div class="darklight">
                        <i class="bi bi-sun sun"></i>
                        <i class="bi bi-moon moon"></i>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell" style="width: 35px"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        On a 4 nouvelles notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Voir tous</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Fampitandremana</h4>
                            <p>Fampitandremana mahakasika ny Produit efa holany</p>
                            <p>Ny fotonany(12:54)</p>
                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Fambara taintaina</h4>
                            <p>Produit efa tsisy</p>
                            <p>Ny fotonany(12:54)</p>
                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Fambara milamina</h4>
                            <p>Fanambarana ireo Produit voaray ao @ Stock</p>
                            <p>Ny fotonany(12:54)</p>
                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Fanambarana tsotra</h4>
                            <p>Vaovao mahakasika ny Produit</p>
                            <p>Ny fotonany(12:54)</p>
                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link nav-icon btn" href="#">
                    <i class="bi bi-gear-fill" style="width: 35px"></i>
                </a>
            </li>
            <li class="nav-item dropdown pe-3 pt-3" style="background-color: rgba(130,130,130,0.1);height: 80px">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/images/profile1.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">Trinito</span>
                </a><!-- End Profile Iamge Icon -->
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>JDT. Trinito</h6>
                        <span>Web Developer</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#" th:href="@{/Identifier}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
        </ul>
    </nav><!-- End Icons Navigation -->
</header><!-- End Header -->

<!-- ********************************************** sidebar ******************************************* -->
<div class="sidebar active">
    <div class="logo_content">
        <div class="logo">
            <img src="/images/vanille.PNG" alt="Profile" class="rounded-circle">
            <div class="logo_name">LPM</div>
        </div>
        <!--<i class="ri ri-menu-fill" id="btn"></i>-->
    </div>
    <ul class="nav_list " style="padding-bottom: 0;margin-bottom: 0">
        <li>
            <div class="links_name menu">MENU DE NAVIGATION</div>
        </li>
    </ul>
    <div class="sidebar-inner mt-0" id="scroll" data-simplebar>
        <div class="mt-0" style="height: 100%" >
            <ul class="nav_list " style="margin-top: 0">
                <li>
                    <a id="page1Id">
                        <i class="ri ri-layout-masonry-fill"></i>
                        <span class="links_name active">PAGE-1</span>
                    </a>
                    <span class="tooltip">PAGE-1</span>
                </li>
                <li>
                    <a id="page2Id">
                        <i class="ri ri-layout-masonry-fill"></i>
                        <span class="links_name active">PAGE-2</span>
                    </a>
                    <span class="tooltip">PAGE-2</span>
                </li>
                <li>
                    <a id="page3Id">
                        <i class="ri ri-layout-masonry-fill"></i>
                        <span class="links_name active">PAGE-3</span>
                    </a>
                    <span class="tooltip">PAGE-3</span>
                </li>
                <li>
                    <a href="#" th:href="@{/TableBord}">
                        <i class="ri ri-layout-masonry-fill"></i>
                        <span class="links_name active">Tableau de bord</span>
                    </a>
                    <span class="tooltip">Tableau de bord</span>
                </li>
                <li>
                    <a href="#" th:href="@{/Article}">
                        <i class="ri ri-app-store-fill"></i>
                        <span class="links_name">Produit</span>
                    </a>
                    <span class="tooltip">Produit</span>
                </li>
                <li>
                    <a href="#" th:href="@{/Vente}">
                        <i class="ri ri-shopping-cart-fill"></i>
                        <span class="links_name">Vente</span>
                    </a>
                    <span class="tooltip">Vente</span>
                </li>
                <li>
                    <a href="#" th:href="@{/DetailsVente}">
                        <i class="ri ri-briefcase-fill"></i>
                        <span class="links_name">Details de vente</span>
                    </a>
                    <span class="tooltip">Details de vente</span>
                </li>
                <li>
                    <a href="#" th:href="@{/Stock}">
                        <i class="ri ri-database-fill"></i>
                        <span class="links_name">Stock</span>
                    </a>
                    <span class="tooltip">Stock</span>
                </li>
                <li>
                    <a href="#" th:href="@{/Caisse}">
                        <i class="ri ri-money-dollar-circle-fill"></i>
                        <span class="links_name">Caisse</span>
                    </a>
                    <span class="tooltip">Caisse</span>
                </li>
                <li>
                    <a href="#" th:href="@{/Prix}">
                        <i class="ri ri-money-dollar-circle-fill"></i>
                        <span class="links_name">Prix</span>
                    </a>
                    <span class="tooltip">Prix</span>
                </li>
                <li>
                    <a href="#" th:href="@{/Clients}">
                        <i class="ri ri-user-6-fill"></i>
                        <span class="links_name">Client</span>
                    </a>
                    <span class="tooltip">Client</span>
                </li>
                <li>
                    <a href="#" th:href="@{/Fournisseur}">
                        <i class="ri ri-user-2-fill"></i>
                        <span class="links_name">Fournisseur</span>
                    </a>
                    <span class="tooltip">Fournisseur</span>
                </li>
                <li>
                    <a href="#" th:href="@{/Utilisateur4}">
                        <i class="ri ri-user-2-fill"></i>
                        <span class="links_name">Utilisateur</span>
                    </a>
                    <span class="tooltip">Credit</span>
                </li>
                <li>
                    <a href="#">
                        <i class="ri ri-building-4-fill"></i>
                        <span class="links_name">Magasin</span>
                    </a>
                    <span class="tooltip">Magasin</span>
                </li>
                <li>
                    <a href="#" th:href="@{/Br}">
                        <i class="ri ri-coupon-5-fill"></i>
                        <span class="links_name">Bon de Réception</span>
                    </a>
                    <span class="tooltip">Bon de Réception</span>
                </li>
                <li>
                    <a href="#" th:href="@{/Factures}">
                        <i class="ri ri-file-list-3-fill"></i>
                        <span class="links_name">Facture</span>
                    </a>
                    <span class="tooltip">Facture</span>
                </li>
                <li>
                    <a href="#">
                        <i class="ri ri-creative-commons-nc-fill"></i>
                        <span class="links_name">Credit</span>
                    </a>
                    <span class="tooltip">Credit</span>
                </li>

            </ul>
        </div>
    </div>
</div>

<!-- ********************************************** main content ******************************************* -->
<div class="home_content active" style="">
    <iframe src="page3" name="myFrame" id="myFrame" style="background-color: transparent;width: 100%;height: 100%"></iframe>
    <!--<div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body" id="cardBodyDetailCient">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <div class="d-inline-flex ps-2 pe-2 me-2">
                                        <label style="color: #eee;font-size: 14px;font-weight: 500"> PAGE-1 Information Client</label>
                                    </div>
                                    <div class="d-inline-flex float-end ps-2 pe-2 me-0">
                                        <a id="btnCloseDetailClient" class="btn"></a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-1">
                                <div class="col-12">
                                    <div class="float-start d-flex ps-0">
                                        <a type="button" id="btnNouvCredit" class="btn btn-outline-success me-1" style="min-height: 35px;height: 35px">Nouveau crédit</a>
                                        <a type="button" id="btnSupprCredit" class="btn btn-outline-danger me-1" style="min-height: 35px;height: 35px" >Payer crédit</a>
                                    </div>
                                    <div class="d-inline-flex float-end ps-2 pe-0 me-0">
                                        <a class="btn btn-success btn-export-to-excel bg-forest ms-2"><i class="ri ri-file-excel-2-fill"></i> </a>
                                        <a class="btn btn-success btn-export-to-excel bg-forest ms-2"><i class="ri ri-printer-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="background: transparent;">
                                <div class="card-body bodyAvoir p-0 mt-2" style="background: transparent;height: 30vh" id="scroll" data-simplebar>
                                    <table class="table table-bordered dt-responsive nowrap w-100" id="tableClientDetail">
                                        <thead>
                                        <tr>
                                            <th>Facture</th>
                                            <th>Date</th>
                                            <th>Crédit</th>
                                            <th>Payer</th>
                                            <th>Reste</th>
                                            <th>Déscription</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="ps-2">FAC-001</td>
                                            <td class="ps-2">2022/10/13</td>
                                            <td class="ps-2">0 Ar</td>
                                            <td class="ps-2">0 Ar</td>
                                            <td class="ps-2">0 Ar</td>
                                            <td class="ps-2">null</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

            </div>
        </div>
    </div>-->
</div>

<!-------------------------------------------------------------------- script ------------------------------->

<!-- end demo js-->
<script src="../liens/js/jquery-3.5.1.min.js"></script>
<script src="../js/table2excel.js"></script>
<script src="../js/print.min.js"></script>
<script src="../js/simplebar.min.js"></script>
<script src="../js/main.js"></script>

<script>
    var page2Id = document.getElementById("page2Id");
    page2Id.addEventListener('click',function (){
        //var xhr = new XMLHttpRequest();
        //xhr.open('GET', 'page2.html');
        document.getElementById('myFrame').src = 'Clients';
        console.log("page1")
        /*var frame = document.getElementById('myFrame').src = 'page2';
        frame = frame.contentDocument;
        console.log(frame.getElementById("page2label").innerText)*/
    })
    var page3Id = document.getElementById("page3Id");
    page3Id.addEventListener('click',function (){
        /*var xhr = new XMLHttpRequest();
        xhr.open('GET', 'page3');
        xhr.send()*/
        document.getElementById('myFrame').src = 'page3';
        console.log("page3")
    })

</script>

</body>
</html>