<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Theme</title>
    <link rel="stylesheet" id="themeStylesheetLink" href="../css/theme/default.css">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"/>

    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/perfect-scrollbar.css">


</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    Select theme
    <select id="themeSelect">
        <option value="default">default</option>
        <option value="dark">dark</option>
    </select>
    <hr>
    <main id="scroll" data-simplebar>
        <h2>Theme selector with javascript & css</h2>
        <p>
            It's very ease to create theme with javascript & css
        </p>
        <p>
            It will even save on page refresh !
        </p>
        <h2>Theme selector with javascript & css</h2>
        <p>
            It's very ease to create theme with javascript & css
        </p>
        <p>
            It will even save on page refresh !
        </p>
        <h2>Theme selector with javascript & css</h2>
        <p>
            It's very ease to create theme with javascript & css
        </p>
        <p>
            It will even save on page refresh !
        </p>
        <h2>Theme selector with javascript & css</h2>
        <p>
            It's very ease to create theme with javascript & css
        </p>
        <p>
            It will even save on page refresh !
        </p>
        <h2>Theme selector with javascript & css</h2>
        <p>
            It's very ease to create theme with javascript & css
        </p>
        <p>
            It will even save on page refresh !
        </p>
        <h2>Theme selector with javascript & css</h2>
        <p>
            It's very ease to create theme with javascript & css
        </p>
        <p>
            It will even save on page refresh !
        </p>
    </main>


    <!--<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>-->

   <!-- <script>
        function initThemeSelector(){
            const themeSelect = document.getElementById("themeSelect");
            const themeStyleSheetLink = document.getElementById("themeStylesheetLink");
            const currentTheme = localStorage.getItem("theme") || "dark";

            function activateTheme(themeName){
                themeStyleSheetLink.setAttribute("href",`../css/theme/${themeName}.css`)
            }
            themeSelect.addEventListener("change",()=>{
                activateTheme(themeSelect.value);
                localStorage.setItem("theme",themeSelect.value);
            })
            themeSelect.value = currentTheme;
            activateTheme(currentTheme);
        }
        initThemeSelector();
    </script>-->

    <!--

    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.9/simplebar.min.js" integrity="sha512-xAAb5tNhb12Tx88hMa8IdJI+3pzHBk4V4sQ4w8FIFkXEvlh1PYYma0oPnIENPYeLeblWavY7AlkJj3XzJlif0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    -->
</body>
</html>