<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lpm.v.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script rel="stylesheet" src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.js"></script>

    <link href="../liens/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../liens/remixicon/remixicon.css" rel="stylesheet">

    <link href="../js/print.min.css" rel="stylesheet">
    <link href="../js/simplebar.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

</head>
<body style="background-color: transparent">

<!-- *********************************************** content *********************************** -->
<div class="container-fluid" style="height: 100vh;padding-top: 20px" data-simplebar>

    <div class="row">
        <div class="boutons_modals head" style="margin-left: 15px;width: calc(100% - 25px);">
            <ul class="ul-nav">
                <li>
                    <h4 style="color: #bbb">Détails de vente</h4>
                </li>
            </ul>
            <ul class="ul-nav">
                <li class="ul-li-nav">
                    <a class="btn btn-primary" id="btnDetailVenteExcel"><img src="../images/excel1_24px.png" style="height: 20px;width: 16px"></a>
                </li>
                <li class="ul-li-nav">
                    <a class="btn btn-primary" id="btnDetailVentePrint"><img src="../images/print1_24px.png" style="height: 16px"></a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="produitDetails br" style="height: 100vh;margin: 10px 5px 10px 5px;">
        <div class="mb-0 produitContents produitContentPages">
            <div class="row">
                <div class="col-12">
                    <div class="card receptionContent active">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <div id="inputDate2">
                                        <div class="boutons_modals">
                                            <ul class="ul-nav" style="margin-top: 25px;margin-left: -5px;">
                                                <li class="ul-li-nav">
                                                    <a type="button" id="btn-tous2" class="btn btn-success me-1">Tous</a>
                                                </li>
                                                <li class="ul-li-nav">
                                                    <input type="date" id="input-date-debut2" class="form-control" style="background: transparent;color: #ccc;border-color: #888;">&nbsp;
                                                </li>
                                                <li class="ul-li-nav">
                                                    <input type="date" id="input-date-fin2" class="form-control" style="background: transparent;color: #ccc;border-color: #888;">&nbsp;
                                                </li>
                                                <li class="ul-li-nav">
                                                    <a type="button" id="btn-detailsVente-filter2" class="btn btn-success me-1">Valider</a>
                                                </li>
                                            </ul>
                                            <div class="input-group ul-nav ms-3" style="justify-content: end">
                                                <input type="text" id="input-search" name="search" class="form-control" placeholder="chercher" style="background: transparent;color: #ccc;border-color: #888;max-width: 250px">
                                                <a type="button" class="btn btn-primary"><i class="ri ri-search-2-line"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="background: transparent;">
                                <div class="card-body p-0 mt-4" style="background: transparent;height: 60vh" id="scroll" data-simplebar>
                                    <table class="table dt-responsive nowrap w-100 table-hover text-dark" id="tableDetailsVente">
                                <thead>
                                <tr>
                                    <th>Réference</th>
                                    <th>Désignation</th>
                                    <th>Quantité</th>
                                    <th>Unité</th>
                                    <th>Prix</th>
                                    <th>Client</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="vented:${venteList}" class="ligne" >
                                    <td th:text="${vented.getRefVente()}"></td>
                                    <td th:text="${vented.getNomArticle()}"></td>
                                    <td th:text="${vented.getQuantiteProduit()}"></td>
                                    <td th:text="${vented.getUniteProduit()}"></td>
                                    <td th:text="${vented.getPrixVenteProduit()}"></td>
                                    <td th:text="${vented.getClient()}"></td>
                                    <td th:text="${vented.getDateVente()}"></td>
                                </tr>
                                </tbody>
                            </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ------------------------ modal detailVente print ---------------------------------------------- -->
    <div id="detailVentePrint" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-contentDetailVente">
                <div class="modal-body" id="tableDetailsVentePrint">
                    <h4 align="center" style="alignment: center;height: 40px;width: 100%;font-weight: 700;font-size: 16px;color: #223">DETAILS DES VENTES ENREGISTRES</h4>
                    <table class="table dt-responsive nowrap w-100" id="tableDetailsVente0">
                        <thead style="background-color: #aaa">
                        <tr>
                            <th style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333">Réference</th>
                            <th style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333">Désignation</th>
                            <th style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333">Quantité</th>
                            <th style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333">Unité</th>
                            <th style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333">Prix</th>
                            <th style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333">Client</th>
                            <th style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vented:${venteList}" class="ligne" >
                            <td th:text="${vented.getRefVente()}" style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333"></td>
                            <td th:text="${vented.getNomArticle()}" style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333"></td>
                            <td th:text="${vented.getQuantiteProduit()}" style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333"></td>
                            <td th:text="${vented.getUniteProduit()}" style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333"></td>
                            <td th:text="${vented.getPrixVenteProduit()}" style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333"></td>
                            <td th:text="${vented.getClient()}" style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333"></td>
                            <td th:text="${vented.getDateVente()}" style="border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- --------------------------- facture ----------------------------- -->
    <!--<div class="row">
        <div id="pageImprimerBR" class="hide" style="margin: 10px;width: calc(100% - 40px)">
            <div class="row" style="display: block;">
                <div id="impressionPage" th:class="${impression=='imprimer'?'vraieImprimer':''}" style="background-color: #fff;width: 100%">
                    <div class="container" style="margin: 10px;padding-bottom: 5px;padding-top: 5px;max-width: 100vw;">
                        <div class="row" style="width: 100%;margin-left: 0px;margin-right: 0px;margin-bottom: 20px">
                            <div class="col-12">
                                <label style="position: absolute;text-align: center;width: calc(100% - 42px);height: 55px;border: 2px solid #ccc;border-radius: 2px;font-size: 16px;font-weight: bold;vertical-align: middle;padding-top: 12px;background: rgba(240,240,240,0.6);top: auto;left: 40px;">(* SLOGAN DE LA SOCIETE *)</label>
                            </div>
                        </div>
                        <div class="row" style="display: flex;justify-content: space-between;margin-top: 75px">
                            <div class="col-4">
                                <ul style="list-style: none;list-style: none;margin-block-start: 0px;padding-inline-start: 0">
                                    <li style="font-weight: bold">(Nom de la société)</li>
                                    <li>Adresse</li>
                                    <li>Ville</li>
                                    <li>Tel : (+261 00 000 00)</li>
                                    <li>Nif : (000 000 000)</li>
                                    <li>Stat :(00 000 000 00)</li>
                                </ul>
                            </div>
                            <div class="col-4 offset-4">
                                <ul style="list-style: none">
                                    <li style="font-weight: bold" th:text="${'Facture n° : '+numFacture}"></li>
                                    <li th:text="${'Le '+date}"></li>
                                    <li>Magasin : Defaul_Magasin</li>
                                    <li></li>
                                    <li>Client : <span th:text="${nomClient}"></span></li>
                                    <li>Operateur :</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mt-4 mb-4">

                            <table style="width: 100%;margin-top: 30px;border-spacing: 0;">
                                <tr style="background-color: rgba(240,240,240,0.6);border: 2px solid #aaa;">
                                    <th style="text-align: left;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;"> Designation</th>
                                    <th style="text-align: left;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;">Quantite</th>
                                    <th style="text-align: left;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;">Unite</th>
                                    <th style="text-align: left;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;">PU</th>
                                    <th style="text-align: left;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;">Montant</th>
                                </tr>
                                <tr th:each="vente:${facVtempList}" style="border: 0.2px solid transparent;border-bottom-color: #eee;border-bottom-width: 2px;">
                                    <td th:text="${vente.getNomProduit()}" style="padding-left: 10px;padding-top: 10px;border: 1px solid transparent;border-bottom-color: #ccc;">nom1</td>
                                    <td th:text="${vente.getQuantiteProduit()}" style="padding-left: 10px;padding-top: 10px;border: 1px solid transparent;border-bottom-color: #ccc;">quantite1</td>
                                    <td th:text="${vente.getUniteProduit()}" style="padding-left: 10px;padding-top: 10px;border: 1px solid transparent;border-bottom-color: #ccc;">unite1</td>
                                    <td th:text="${vente.getPrixVenteProduit()}" style="padding-left: 10px;padding-top: 10px;border: 1px solid transparent;border-bottom-color: #ccc;">prix1</td>
                                    <td th:text="${vente.getMontant()}" style="padding-left: 10px;padding-top: 10px;border: 1px solid transparent;border-bottom-color: #ccc;">montant1</td>
                                </tr>
                                <tr style="height: 25px">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="background-color: rgba(245,245,245,0.4);border: 1px solid transparent;border-top-color: 0;border-top-width: 1.2px">
                                    <td style="padding-left: 30px;padding-top: 0;border: 1px solid transparent">SUBTOTAL</td>
                                    <td style="padding-left: 15px;padding-top: 0;border: 1px solid transparent">REMISE</td>
                                    <td style="padding-left: 10px;padding-top: 0;border: 1px solid transparent;"></td>
                                    <td style="padding-left: 10px;padding-top: 0;border: 1px solid transparent">NET A PAYER</td>
                                </tr>
                                <tr style="background-color: rgba(245,245,245,0.4);border: 1px solid transparent;border-top-width: 1.2px">
                                    <td style="padding-left: 30px;padding-top: 10px;border: 1px solid transparent;font-weight: bold;" th:text="${total+' Ar'}"></td>
                                    <td style="padding-left: 15px;padding-top: 10px;border: 1px solid transparent;font-weight: bold;" th:text="${remise+' Ar'}"></td>
                                    <td style="padding-left: 10px;padding-top: 10px;border: 1px solid transparent;"></td>
                                    <td style="padding-left: 10px;padding-top: 10px;border: 1px solid transparent;font-weight: bold;" th:text="${netaPayer+' Ar'}"></td>
                                </tr>
                            </table>
                        </div>
                        <div style="margin-left: -5px;margin-right: -5px;border: 1px solid transparent;border-bottom-color: #bbb;padding: 5px;padding-top: 0;margin-bottom: 20px;margin-top: 20px">
                            <label style="text-align: start">Arrété à la somme de <span th:text="${netaPayer}"></span> Ar</label>
                        </div>
                        <div class="row" style="margin-left: -5px;margin-right: 10px;display: flex;justify-content: space-between;">
                            <h6 style="position: absolute;left: 40px;top: auto;width: auto;height: 30px">Le Client</h6>
                            <h6 style="position: absolute;left: 40%;top: auto;width: auto;height: 30px">Le Caissier</h6>
                            <h6 style="position: absolute;right: 15px;top: auto;width: auto;height: 30px">Le Magasinier</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!-- Standard modal -->
    <!--<div id="client-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" method="post" th:action="@{SelectClient}">
                <div class="modal-header">
                    <h4 class="modal-title" style="font-weight: 500">Client</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="hidden" name="nomProduit" th:value="${nomProduit}">
                        <input type="hidden" name="prixAchat" th:value="${prixAchat}">
                        <input type="hidden" name="prixVente" th:value="${prixVente}">
                        <label for="select-frs" class="form-label">Client</label>
                        <select name="nomClient" th:value="${client.nomPrenom}" id="select-frs" class="form-select">
                            <option th:each="client:${clientList}" th:value="${client.nomPrenom}" th:text="${client.getNomPrenom()}"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                    <button id="btn-frs" type="submit" class="btn btn-primary btn-enregistrer">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>-->

    <!--<div id="designation-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" method="post" th:action="@{SelectDesignationV}">
                <div class="modal-header">
                    <h4 class="modal-title" style="font-weight: 500">Désignation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="hidden" name="nomClient" th:value="${nomClient}">
                        <label for="select-desi" class="form-label">Désignation</label>
                        <select name="nomProduit" th:value="${plp.nomProduit}" id="select-desi" class="form-select">
                            <option th:each="plp:${plpList}" th:value="${plp.nomProduit}" th:text="${plp.getNomProduit()}"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                    <button id="btn-desi" type="submit" class="btn btn-primary btn-enregistrer">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>-->
    <!-- /.modal -->

    <!-- -------------------- prixSpecialModal --------------- -->
    <!--<div id="simpleModal" class="modal modal0" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content modal-content0">
            <div class="container corpsprixSpecial">
                <form>
                    <label id="prixLabel">Prix Spécial</label>
                    <hr id="hr1Prix">
                    <div class="radio selected active" id="enValeur">
                        <label style="width: 100%;font-size: 14px;padding: 4px;color: #eee">
                            <input class="form-check-input checked" type="radio" name="optionsRadios" value="enValeur" id="radio1" style="margin-right: 15px;" checked>En valeur
                        </label>
                    </div>
                    <div class="radio" id="enPourcent">
                        <label style="width: 100%;font-size: 14px;padding: 4px;color: #eee">
                            <input class="form-check-input" type="radio" name="optionsRadios" value="enPourcent" id="radio2" style="margin-right: 15px;">En ( % )
                        </label>
                    </div>
                    <div id="inputPrixSpecial" class="active">
                        <input id="inputPrixSpecialValeur" class="form-control" value="0">
                        <label id="labelAr">Ar</label>
                    </div>
                    <div id="inputPrixSpecial2">
                        <input id="inputPrixSpecial2Valeur" class="form-control" value="0">
                        <label id="labelPourcent">%</label>
                    </div>
                    <hr id="hr2Prix">
                    <button type="button" class="btn btn-danger" id="annulerprix">Annuler</button>
                    <button type="button" class="btn btn-primary" style="height: 33px" id="accorderprix">Accorder</button>

                </form>
            </div>
        </div>
    </div>-->

    </div> <!-- container -->
<!-------------------------------------------------------------------- script ------------------------------->

<script src="../liens/js/jquery-3.5.1.min.js"></script>
<script src="../js/table2excel.js"></script>
<script src="../js/print.min.js"></script>
<script src="../js/simplebar.min.js"></script>
<script src="../js/main.js"></script>

<script>

    var d = new Date();
    var year = d.getFullYear();
    var month = d.getMonth() + 1;

    if (month<10){
        month = '0'+month;
    }
    var date0 = d.getDate();
    if (date0<10){
        date0 = '0'+date0;
    }

    var c_date = year+'-'+month+'-'+date0;
    document.getElementById("input-date-debut2").value = c_date;
    document.getElementById("input-date-fin2").value = c_date;

    /* *************************** filtrage du tableau par mot date ************************************ */
    document.getElementById("btn-detailsVente-filter2").addEventListener('click',function () {
        var formDataFilterDate = {
            dateDebut: $("#input-date-debut2").val(),
            dateFin: $("#input-date-fin2").val()
        }
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/FiltrerDateVenteDetails",
            data: JSON.stringify(formDataFilterDate),
            dataType: 'json',
            success: function (result) {
                console.log("reussi")
                if (result.status === 'success') {
                    //alert("nomby");
                    var tableFac = document.getElementById("tableDetailsVente");
                    var tbodyFac = tableFac.querySelector("tbody");
                    //var rowsFac = tbodyFac.querySelectorAll("tr");
                    tableFac.removeChild(tbodyFac);
                    var nouveauTbody = document.createElement("tbody");
                    tableFac.appendChild(nouveauTbody);
                    $.each(result.data, function (i, vente) {
                        var nouvelleLigne = nouveauTbody.insertRow(-1);

                        var nouvelleCellule = nouvelleLigne.insertCell(0);
                        var nouveauTexte = document.createTextNode(vente.refVente);
                        nouvelleCellule.appendChild(nouveauTexte);

                        var nouvelleCellule1 = nouvelleLigne.insertCell(1);
                        var nouveauTexte1 = document.createTextNode(vente.nomArticle);
                        nouvelleCellule1.appendChild(nouveauTexte1);

                        var nouvelleCellule2 = nouvelleLigne.insertCell(2);
                        var nouveauTexte2 = document.createTextNode(vente.quantiteProduit);
                        nouvelleCellule2.appendChild(nouveauTexte2);

                        var nouvelleCellule3 = nouvelleLigne.insertCell(3);
                        var nouveauTexte3 = document.createTextNode(vente.uniteProduit);
                        nouvelleCellule3.appendChild(nouveauTexte3);

                        var nouvelleCellule4 = nouvelleLigne.insertCell(4);
                        var nouveauTexte4 = document.createTextNode(vente.prixVenteProduit);
                        nouvelleCellule4.appendChild(nouveauTexte4);

                        var nouvelleCellule5 = nouvelleLigne.insertCell(5);
                        var nouveauTexte5 = document.createTextNode(vente.client);
                        nouvelleCellule5.appendChild(nouveauTexte5);

                        /*------------ convert date to normale ---------------- */
                        var date0000 = vente.dateVente.toString();
                        var da = date0000.substring(0,date0000.indexOf('.'));
                        var date3 = new Date(da+"-03:00")
                        var date4 = date3.toISOString();
                        var date5 = date4.substring(0,date4.indexOf("."));
                        var date6 = date5.replace("T"," ")
                        /*--------- fin convert date to normale ---------------- */

                        var nouvelleCellule6 = nouvelleLigne.insertCell(6);
                        var nouveauTexte6 = document.createTextNode(date6);
                        nouvelleCellule6.appendChild(nouveauTexte6);

                        // console.log("date : "+facture.dateFacVente);
                    });
                }
            },
            error: function (e){
                alert("erreur : "+e);
            }
        });
    });

    /* *************************** filtrage du tableau par mot cle ************************************ */
    var inputSearch = document.getElementById("input-search");
    inputSearch.addEventListener("keyup",function(){
        var keyword = this.value;
        keyword = keyword.toUpperCase();
        var table_3 = document.getElementById("tableDetailsVente");
        var all_tr = table_3.getElementsByTagName("tr");
        for(var i=0; i<all_tr.length; i++){
            var all_columns = all_tr[i].getElementsByTagName("td");
            for(j=0;j<all_columns.length; j++){
                if(all_columns[j]){
                    var column_value = all_columns[j].textContent || all_columns[j].innerText;
                    column_value = column_value.toUpperCase();
                    if(column_value.indexOf(keyword) > -1){
                        all_tr[i].style.display = ""; // show
                        break;
                    }else{
                        all_tr[i].style.display = "none"; // hide
                    }
                }
            }
        }
    })

    /* *************************** separateur de milieux ***************************** */
    function numStr(a, b) {
        a = '' + a;
        b = b || ' ';
        var c = '', d = 0;
        while (a.match(/^0[0-9]/)) {
            a = a.substr(1);
        }
        if (/./.test(a)){
            var nouvA = a.substr(0,a.indexOf('.'));
            var lastA = a.substring(a.lastIndexOf('.') + 1);
            for (var i = nouvA.length-1; i >= 0; i--) {
                c = (d != 0 && d % 3 == 0) ? nouvA[i] + b + c : nouvA[i] + c;
                d++;
            }
            return c = c + '.' + lastA;
        }
        else {
            for (var j = a.length-1; j >= 0; j--) {
                c = (d != 0 && d % 3 == 0) ? a[j] + b + c : a[j] + c;
                d++;
            }
            return c;
        }

        return c;
    }

    /* --------------------- table fac Details ---------------------- */
    var tableFac = document.getElementById("tableDetailsVente");
    var ligneFacB = tableFac.getElementsByTagName("tr");
    for (var i=1;i<ligneFacB.length;i++){
        var colFacB = ligneFacB[i].getElementsByTagName("td")[4];
        console.log(colFacB.innerText);

        colFacB.innerText = numStr(colFacB.innerText);
    }

    /* ****************** print pageListe client *************************************** */

    var boutonImprimerClient = document.getElementById("btnDetailVentePrint");
    boutonImprimerClient.addEventListener('click',printDetailVentAction);
    function printDetailVentAction() {
        printJS({
            printable: 'tableDetailsVentePrint',
            type: 'html',
            targetStyles: ['*']
        });
    }

    /* ********************** exporter tableClient vers excel ******************************** */

    var boutonExcelDetailVente = document.getElementById("btnDetailVenteExcel");
    boutonExcelDetailVente.addEventListener('click',Export);
    function Export() {
        $("#tableDetailsVentePrint").table2excel({
            filename: "Liste_Vente "+new Date().getFullYear()+"-"+new Date().getMonth()+"-"+new Date().getDate()+" "+new Date().getHours()+"h"+new Date().getMinutes()+"min .xls"
        });
    }
</script>

</body>
</html>