<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lpm.v.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script rel="stylesheet" src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.js"></script>

    <link href="../assets2/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="../liens/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../liens/remixicon/remixicon.css" rel="stylesheet">

    <link href="../js/print.min.css" rel="stylesheet">
    <link href="../js/simplebar.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

</head>
<body style="background-color: transparent">

    <!-- *********************************************** content *********************************** -->

    <div class="container-fluid" style="height: 100vh;padding-top: 20px">

        <div class="row mb-1">
            <div class="col-12 mt-1">
                <div class="boutons_modals head">
                    <ul class="ul-nav">
                        <li class="d-flex" style="display: flex;justify-content: left">
                            <h4 class="page-title">Liste des dettes</h4>
                        </li>
                    </ul>
                    <ul class="ul-nav">
                        <li class="ul-li-nav search">
                            <div class="input-group inputSearchStock" id="inputSearch">
                                <input type="text" required class="form-control dropdown-toggle" placeholder="Search..." id="input-search-dette">
                                <button id="btn-search-stick" class="input-group-text btn-primary" type="submit"><i class="ri ri-search-2-line"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="boutons_modals">
                <ul class="ul-nav">
                    <li class="ul-li-nav">
                        <a class="btn btn-primary" id="btnCreerDette">Créer une avance</a>
                    </li>
                    <li class="ul-li-nav">
                        <a class="btn btn-primary" id="btnReglerDette">Règler une dette</a>
                    </li>
                </ul>
                <ul class="ul-nav">
                    <li class="ul-li-nav">
                        <a class="btn btn-primary" id="btnExcelDette"><img src="../images/excel1_24px.png" style="height: 20px;width: 16px"></a>
                    </li>
                    <li class="ul-li-nav">
                        <a class="btn btn-primary" id="btnPrintDette"><img src="../images/print1_24px.png" style="height: 16px"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" id="utilisateur">
            <div class="col-12">
                <div class="card" style="margin: 8px">
                    <div class="card-body">
                        <div class="tab-pane show active" id="buttons-table-preview">
                            <table id="tableDette" class="table dt-responsive nowrap w-100 table-hover text-dark">
                                <thead>
                                <tr>
                                    <th>Référence</th>
                                    <th>montant</th>
                                    <th>Fournisseur</th>
                                    <th>Date</th>
                                    <th>Déscription</th>
                                    <th>Status</th>
                                    <th id="checkBoxT" style="min-width: 14px;width: 14px;max-width: 14px;display: none"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="ps-2"  id="checkBoxT" style="min-width: 14px;max-width: 14px;display: none"><input id="checkBoxT" type="checkbox" style="float: right;margin-right: 10px"></td>
                                </tr>
                                </tbody>
                            </table>
                            <hr id="hrBtnSaveDette">
                            <div class="row" id="rowBtnSaveDette" style="display:none;">
                                <div class="col-12">
                                    <div class="container-fluid">
                                        <div class="d-flex" style="justify-content: center">
                                            <button type="button" class="btn btn-danger" id="annulerDette" style="min-height: 32px;height: 32px;width: auto;margin-right: 5px">Annuler</button>
                                            <button type="button" class="btn btn-success" onclick="checkDette();" style="height: 33px;min-height: 32px;height: 32px;width: auto;" id="validerCrdit">Valider</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="tableCleintImprimer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-contentClient">
                    <div class="modal-body"  id="tableDetteImprimer2">
                        <h4 align="center" style="alignment: center;height: 40px;width: 100%;font-weight: 700;font-size: 16px;color: #223">LISTE DES DETTES FOURNISSEURS</h4>
                        <table class="table dt-responsive nowrap w-100 table-hover text-dark" id="tableDetteImprimer">
                            <thead style="background-color: #aaa">
                            <tr>
                                <th style="text-align: left;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333">Référence</th>
                                <th style="text-align: left;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333">Montant</th>
                                <th style="text-align: left;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333">Fournisseur</th>
                                <th style="text-align: left;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333">Date</th>
                                <th style="text-align: left;padding-left: 10px;padding-top: 5px;padding-bottom: 5px;border: 1px solid transparent;border-bottom-color: #aaa;border-top-color: #aaa;color: #333">Motifs</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="border: 0.2px solid transparent;border-bottom-color: #eee;border-bottom-width: 2px;"></td>
                                <td style="border: 0.2px solid transparent;border-bottom-color: #eee;border-bottom-width: 2px;"></td>
                                <td style="border: 0.2px solid transparent;border-bottom-color: #eee;border-bottom-width: 2px;"></td>
                                <td style="border: 0.2px solid transparent;border-bottom-color: #eee;border-bottom-width: 2px;"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Standard modal -->
        <div id="modalNouvelleAvance" class="modal modalEnc" tabindex="-1" role="dialog" aria-hidden="true" style="justify-content: center">
            <div class="modal-content modal-contentEnc" style="width: 400px;height: 430px;margin-left: 0;margin-top: -50px;background: rgb(24,35,50);box-shadow: 0 0 10px rgba(200,200,200,0.9)">
                <div class="container corpsprixSpecial" style="margin: 0">
                    <form class="modal-content" method="post" style="background: transparent;border: none">
                        <div class="modal-header">
                            <h6 class="modal-title" >Nouvelle avance</h6>
                            <a class="btn" id="btnCloseAvoir"></a>
                        </div>
                        <div class="modal-body">
                            <div class="mb-1">
                                <label for="inputFournisseur" class="form-label">Fournisseur</label>
                                <select name="inputProduitEndette" th:value="${fournisseur.nomFournisseur}" id="inputFournisseur" class="form-select">
                                    <option th:each="frs:${fournisseurList}" th:value="${frs.getNomFournisseur()}" th:text="${frs.getNomFournisseur()}"></option>
                                </select>
                            </div>
                            <div class="mb-1">
                                <label for="inputMontantDette" class="form-label">Montant</label>
                                <input name="inputMontantDette" type="text" id="inputMontantDette" class="form-control">
                            </div>
                            <div class="mb-1">
                                <label for="inputProduitEndette" class="form-label">Produit endetté</label>
                                <select name="inputProduitEndette" th:value="${plp.nomProduit}" id="inputProduitEndette" class="form-select">
                                    <option th:each="p:${produitPlusProduitList}" th:value="${p.getNomProduit()}" th:text="${p.getNomProduit()}"></option>
                                </select>
                            </div>
                            <div class="mb-1">
                                <label for="inputDescriptionDette" class="form-label">Déscription</label>
                                <input name="inputDescriptionDette" type="text" id="inputDescriptionDette" class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer" style="display: flex;justify-content: center">
                            <button type="button" class="btn btn-danger" id="btnAnnulerAvance">Annuler</button>
                            <button id="btnEnregistrerAvance" type="button" class="btn btn-primary">Accorder</button>
                        </div>
                    </form><!-- /.modal-content -->
                </div>
            </div>
        </div>
        <!-- /.modal -->

        <div id="modalPayeDetteFrs" class="modal modalEnc" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content modal-contentEnc" style="width: 400px;height: 390px;margin-top: 80px;background: rgb(24,35,50);box-shadow: 0 0 10px rgba(200,200,200,0.9)">
                <div class="container corpsprixSpecial" style="margin: 0">
                    <form class="modal-content" style="background: none;border: none">
                        <div class="modal-header" style="height: 50px">
                            <h6 class="modal-title" id="standard-modalLabel" style="font-weight: 700;font-size: 14px;color: #aaa">REGLEMENT DU CREDIT</h6>
                            <button type="button" id="btnCloseModalAvoir" class="btn-close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-0">
                                <label id="labFrs" class="form-label"></label><br/>
                                <label id="labNumAvance" class="form-label" ></label><br/>
                                <label id="labDateAvance" class="form-label"></label>
                            </div>
                            <hr>
                            <div class="mb-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="inputTotalDette" class="form-label">TOTAL : </label>
                                        </div>
                                        <div class="col-8">
                                            <input id="inputTotalDette" type="text" class="form-control" disabled/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="inputResteDette" class="form-label">RESTE : </label>
                                        </div>
                                        <div class="col-8">
                                            <input id="inputResteDette" type="text" class="form-control" disabled/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="inputLivre" class="form-label">LIVRER : </label>
                                        </div>
                                        <div class="col-8">
                                            <input id="inputLivre" type="text" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="justify-content: center">
                            <button id="btnAnnulerDetteModal" type="button" class="btn btn-danger" >Annuler</button>
                            <button id="btnAccorderDetteModal" type="button" class="btn btn-primary btn-enregistrer">Accorder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div> <!-- container -->

    <!-------------------------------------------------------------------- script ------------------------------->

    <script src="../liens/js/jquery-3.5.1.min.js"></script>
    <script src="../js/table2excel.js"></script>
    <script src="../js/print.min.js"></script>
    <script src="../js/simplebar.min.js"></script>
    <script src="../js/main.js"></script>

    <script>

        document.getElementById("btnCreerDette").addEventListener('click',function (){
            document.getElementById("modalNouvelleAvance").style.display="flex";
        })
        document.getElementById("btnCloseAvoir").addEventListener('click',function (){
            document.getElementById("modalNouvelleAvance").style.display="none";
        })
        document.getElementById("btnAnnulerAvance").addEventListener('click',function (){
            document.getElementById("modalNouvelleAvance").style.display="none";
        })

        document.getElementById("btnAnnulerDetteModal").addEventListener('click',function (){
            document.getElementById("modalPayeDetteFrs").style.display="none";
        })
        document.getElementById("btnCloseModalAvoir").addEventListener('click',function (){
            document.getElementById("modalPayeDetteFrs").style.display="none";
        })

        document.getElementById("btnAccorderDetteModal").addEventListener('click',function (){
            var nuDette;
            var inputs = document.querySelectorAll('#checkBoxT'),
                inputsLength = inputs.length;
            for (var i = 0 ; i < inputsLength ; i++) {
                if (inputs[i].type == 'radio' && inputs[i].checked) {

                    var rowCol = inputs[i].parentNode.parentNode;
                    nuDette = rowCol.querySelector('td:nth-child(1)')
                }
            }

            //alert("id : "+nuDette.textContent+" , inputTotal : "+$("#inputTotalDette").val()+" , livre : "+$("#inputLivre").val())

            var formDataCredit = {
                idDette : nuDette.textContent,
                montantDette : $("#inputTotalDette").val(),
                montantPayeDette : $("#inputLivre").val(),
            }
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url : "/SavePayeDetteP",
                data : JSON.stringify(formDataCredit),
                dataType : 'json',
                success: function (result) {
                    if (result.status === "success") {
                        getAllDette();
                        document.getElementById("modalPayeDetteFrs").style.display="none";
                        document.getElementById("rowBtnSaveDette").style.display="none";
                    }
                },
                error: function (e){
                    alert("erreur d : "+e);
                }
            })
        })

        /* *************************** filtrage du tableau par mot cle ************************************ */
        var inputSearch = document.getElementById("input-search-dette");
        inputSearch.addEventListener("keyup",function(){
            var keyword = this.value;
            keyword = keyword.toUpperCase();
            var table_3 = document.getElementById("tableDette");
            var all_tr = table_3.getElementsByTagName("tr");
            for(var i=0; i<all_tr.length; i++){
                var all_columns = all_tr[i].getElementsByTagName("td");
                for(j=0;j<all_columns.length; j++){
                    if(all_columns[j]){
                        var column_value = all_columns[j].textContent || all_columns[j].innerText;
                        column_value = column_value.toUpperCase();
                        if(column_value.indexOf(keyword) > -1){
                            all_tr[i].style.display = ""; // show
                            break;
                        }else{
                            all_tr[i].style.display = "none"; // hide
                        }
                    }
                }
            }
        })

        /* -------------------------- default dette --------------------------------------- */

        getAllDette();
        function getAllDette(){
            $.ajax({
                type: "GET",
                url: "/GetAllDette",
                success: function (result) {
                    if (result.status === "success") {
                        var tableFacAvoir = document.getElementById("tableDette");
                        var tbodyFacA = tableFacAvoir.querySelector("tbody");
                        tableFacAvoir.removeChild(tbodyFacA);
                        var nouveauTbodyA = document.createElement("tbody");
                        tableFacAvoir.appendChild(nouveauTbodyA);

                        var tableFacAvoirD = document.getElementById("tableDetteImprimer");
                        var tbodyFacAD = tableFacAvoirD.querySelector("tbody");
                        tableFacAvoirD.removeChild(tbodyFacAD);
                        var nouveauTbodyAD = document.createElement("tbody");
                        tableFacAvoirD.appendChild(nouveauTbodyAD);
                        $.each(result.data, function (i, credit) {

                            /*------------ convert date to normale ---------------- */
                            let date0000 = credit.detteDate.toString();
                            let da = date0000.substring(0, date0000.indexOf('.'));
                            let date3 = new Date(da + "-03:00")
                            let date4 = date3.toISOString();
                            let date5 = date4.substring(0, date4.indexOf("."));
                            let date6 = date5.replace("T", " ")
                            /*--------- fin convert date to normale ---------------- */

                            var nouvelleLigneA = nouveauTbodyA.insertRow(-1);

                            var nouvelleCelluleA = nouvelleLigneA.insertCell(0);
                            var nouveauTexteA = document.createTextNode(credit.detteDesignation+""+credit.idDette);
                            nouvelleCelluleA.appendChild(nouveauTexteA);

                            var nouvelleCelluleA1 = nouvelleLigneA.insertCell(1);
                            var nouveauTexteA1 = document.createTextNode(credit.montantDette);
                            nouvelleCelluleA1.appendChild(nouveauTexteA1);

                            var nouvelleCelluleA2 = nouvelleLigneA.insertCell(2);
                            var nouveauTexteA2 = document.createTextNode(credit.detteFournisseur);
                            nouvelleCelluleA2.appendChild(nouveauTexteA2);

                            var nouvelleCelluleA3 = nouvelleLigneA.insertCell(3);
                            var nouveauTexteA3 = document.createTextNode(date6);
                            nouvelleCelluleA3.appendChild(nouveauTexteA3);

                            var nouvelleCelluleA4 = nouvelleLigneA.insertCell(4);
                            var nouveauTexteA4 = document.createTextNode(credit.descriptionDette);
                            nouvelleCelluleA4.appendChild(nouveauTexteA4);

                            var nouveauTexteA5;
                            var nouvelleCelluleA5 = nouvelleLigneA.insertCell(5);
                            if (credit.montantDette === credit.montantPayDette) {
                                nouveauTexteA5 = document.createTextNode("livrée");
                                nouvelleCelluleA5.style.color="green";
                            }else if (credit.montantDette > credit.montantPayDette){
                                nouveauTexteA5 = document.createTextNode("non livrée");
                                nouvelleCelluleA5.style.color="red";
                            }
                            nouvelleCelluleA5.appendChild(nouveauTexteA5);

                            var nouvelleCelluleA7 = nouvelleLigneA.insertCell(6);
                            nouvelleCelluleA7.classList.add('ps-2');
                            nouvelleCelluleA7.id = "checkBoxT";
                            nouvelleCelluleA7.style.display="none";
                            nouvelleCelluleA7.style.minWidth="14px";
                            nouvelleCelluleA7.style.maxWidth="14px";
                            var inputCredit = document.createElement("input");
                            inputCredit.id="checkBoxT";
                            inputCredit.type="radio";
                            inputCredit.name="check";
                            inputCredit.value="1";
                            inputCredit.style.float="right";
                            inputCredit.style.marginRight="10px";
                            nouvelleCelluleA7.appendChild(inputCredit);



                            var nouvelleLigneAD = nouveauTbodyAD.insertRow(-1);

                            var nouvelleCelluleAD = nouvelleLigneAD.insertCell(0);
                            var nouveauTexteAD = document.createTextNode(credit.detteDesignation+""+credit.idDette);
                            nouvelleCelluleAD.appendChild(nouveauTexteAD);

                            var nouvelleCelluleA1D = nouvelleLigneAD.insertCell(1);
                            var nouveauTexteA1D = document.createTextNode(credit.montantDette);
                            nouvelleCelluleA1D.appendChild(nouveauTexteA1D);

                            var nouvelleCelluleA2D = nouvelleLigneAD.insertCell(2);
                            var nouveauTexteA2D = document.createTextNode(credit.detteFournisseur);
                            nouvelleCelluleA2D.appendChild(nouveauTexteA2D);

                            var nouvelleCelluleA3D = nouvelleLigneAD.insertCell(3);
                            var nouveauTexteA3D = document.createTextNode(date6);
                            nouvelleCelluleA3D.appendChild(nouveauTexteA3D);

                            var nouvelleCelluleA4D = nouvelleLigneAD.insertCell(4);
                            var nouveauTexteA4D = document.createTextNode(credit.descriptionDette);
                            nouvelleCelluleA4D.appendChild(nouveauTexteA4D);

                        });
                    }
                },
                error: function (e){
                    alert("Erreur liste credit : "+e);
                }
            });
        }

        /* ------------------------ fin default dette ------------------------------------- */

    var btnReglerDette = document.getElementById("btnReglerDette");
    btnReglerDette.addEventListener('click',creerAvoirFacture);
    function creerAvoirFacture(){
        /*if (btnReglerDette.textContent === "Règler une dette"){
            var idCheckBox = document.querySelectorAll("#checkBoxT");
            for (var i=0;i<idCheckBox.length;i++){
                idCheckBox[i].style.display='';
            }
            btnReglerDette.textContent="Annuler";
            btnReglerDette.classList.remove('btn-primary');
            btnReglerDette.classList.add('btn-danger');
        }
        else {
            var idCheckBox2 = document.querySelectorAll("#checkBoxT");
            for (var j=0;j<idCheckBox2.length;j++){
                idCheckBox2[j].style.display='none';
            }
            btnReglerDette.textContent="Règler une dette";
            btnReglerDette.classList.remove('btn-danger');
            btnReglerDette.classList.add('btn-primary');
        }*/
        var idCheckBox = document.querySelectorAll("#checkBoxT");
        for (var i=0;i<idCheckBox.length;i++){
            idCheckBox[i].style.display='';
        }
        document.getElementById("rowBtnSaveDette").style.display="block";
    }
    document.getElementById("annulerDette").addEventListener('click',function (){
        var idCheckBox2 = document.querySelectorAll("#checkBoxT");
        for (var j=0;j<idCheckBox2.length;j++){
            idCheckBox2[j].style.display='none';
            idCheckBox2[j].classList.add('unchecked')
        }
        var inputs = document.querySelectorAll('#checkBoxT'),
            inputsLength = inputs.length;
        for (var i = 0 ; i < inputsLength ; i++) {
            if (inputs[i].type == 'radio') {
                inputs[i].checked = false;
            }
        }
        document.getElementById("rowBtnSaveDette").style.display="none";
    })

    /* ------------------- function check -------------------------------------------------- */
        var labNomFrs = document.getElementById("labFrs");
        var labNumAvance = document.getElementById("labNumAvance");
        var labDateAvance = document.getElementById("labDateAvance");
        var inputTotalDette = document.getElementById("inputTotalDette");
        var inputResteDette = document.getElementById("inputResteDette");
        var inputLivrer = document.getElementById("inputLivre");
        var idDettePaye = 0;
        function checkDette(){
            document.getElementById("modalPayeDetteFrs").style.display="block";

            var inputs = document.querySelectorAll('#checkBoxT'),
                inputsLength = inputs.length;
            for (var i = 0 ; i < inputsLength ; i++) {
                if (inputs[i].type == 'radio' && inputs[i].checked) {

                    var rowCol = inputs[i].parentNode.parentNode;
                    let numDette = rowCol.querySelector('td:nth-child(1)')
                    let dateDette = rowCol.querySelector('td:nth-child(4)')
                    let avance = rowCol.querySelector('td:nth-child(2)')
                    //let livrer = rowCol.querySelector('td:nth-child(4)')
                    let reste = rowCol.querySelector('td:nth-child(5)')
                    let idDette = rowCol.querySelector('td:nth-child(8)')

                    labDateAvance.innerText = "Avance le : "+dateDette.textContent;
                    labNomFrs.innerText = "Fournisseur : "+avance.textContent;
                    labNumAvance.innerText = "Numéro : "+numDette.textContent;
                    inputTotalDette.value = avance.textContent;

                    $.ajax({
                        type: "GET",
                        url: "/GetResteDette?numDette=" + numDette.textContent,
                        success: function (result) {
                            if (result.status === "success") {
                                inputResteDette.value = result.data;
                                console.log("reste : "+result.data);
                            }
                        },
                        error: function (e) {
                            alert("erreur 0 : " + e);
                        }
                    })

                }
            }
        }

    /* ****************** print pageListe client *************************************** */

    var boutonImprimerUser = document.getElementById("btnPrintDette");
    boutonImprimerUser.addEventListener('click',printUserAction);
    function printUserAction() {
        printJS({
            printable: 'tableDetteImprimer2',
            type: 'html',
            targetStyles: ['*']
        });
    }

    /* ********************** exporter tableClient vers excel ******************************** */

    var boutonExcelUser = document.getElementById("btnExcelDette");
    boutonExcelUser.addEventListener('click',Export);
    function Export() {
        $("#tableDetteImprimer").table2excel({
            filename: "Liste_dette "+new Date().getFullYear()+"-"+new Date().getMonth()+"-"+new Date().getDate()+" "+new Date().getHours()+"h"+new Date().getMinutes()+"min .xls"
        });
    }
</script>

</body>
</html>